    body {
        margin: 0;
        font-family: sans-serif;
    }

    #canvas-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #puzzleCanvas {
        display: none; /* Initially hidden */
        width: 960px; /* Or any other size you desire */
        height: auto;
    }

    #timer {
        display: none;
        position: fixed; /* You can adjust as per your design requirement */
        top: 10px; /* Adjust position as needed */
        right: 460px; /* Adjust position as needed */
        font-size: 24px;
        width: 10%;
        color: white;
        text-align: center;
        background-color: rgba(5, 5, 5, 0.8); /* Optional: Set background color */
        padding: 10px; /* Optional: Set padding */
        border-radius: 5px;  /* Optional: Set text color */
    }

    #moves {
        display: none;
        position: fixed; /* You can adjust as per your design requirement */
        top: 10px; /* Adjust position as needed */
        right: 900px; /* Adjust position as needed */
        font-size: 24px;
        width: 10%;
        color: white;
        text-align: center;
        background-color: rgba(5, 5, 5, 0.8); /* Optional: Set background color */
        padding: 10px; /* Optional: Set padding */
        border-radius: 5px;  /* Optional: Set text color */
    }
    
    main {
        position: relative;
        text-align: center;
        font-family: sans-serif;
        padding: 5%;
    }
    
    #main-image {
        margin-top: -60px;
        width: 80%;
        height: auto;
        aspect-ratio: 2/1;
    }
    
    #overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.6); /* semi-transparent white */
        padding: 20px;
        border-radius: 10px;
        width: 35%; /* or any width you prefer */
    }

    h1 {
        padding: 5px;
        margin: 0 105px;
        font-family: sans-serif;
        font-weight: bold;
        background-color: rgba(250, 250, 230, 0.8);
    }

    p {
        padding: 5px;
        margin: 10px 70px;
        font-family: sans-serif;
        font-weight: bold;
        background-color: rgba(250, 240, 220, 0.8);
    }
    
    #options {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    #options button { 
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        font-size: 1.2em;
        font-family: sans-serif;
    }

    footer button { 
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        background-color: #a06308;
        color: white;
        cursor: pointer;
        font-size: 1.2em;
        font-family: sans-serif;
        font-weight: bold;
    }

    #options .selected {
        background-color: #2a762e;
    }
    
    #images {
        display: flex;
        justify-content: center;
        position: left;
        bottom: 0;
        width: auto;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
    }
    
    #images img {
        width: 180px;
        margin: 0 5px;
        cursor: pointer;
        height: 95px;
        border: 2px solid transparent;
    }
    
    #images .selected {
        width: 170px;
        vertical-align: middle;
        height: 87px;
        border: 5px solid gold;
    }

    #victoryMessage {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
        padding: 20px;
        border-radius: 10px;
        width: 35%; /* or any width you prefer */
        margin: 0 auto;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 60px;
        color: rgb(197, 141, 0);
        text-align: center;
    }
    
    #playAgainButton {
        position: absolute;
        top: 75%;
        left: 50%;
        border-radius: 5px;
        font-weight: bold;
        background-color: rgb(235, 111, 3);
        transform: translate(-50%, -50%);
        margin: 20px auto; /* Adjust as needed */
        padding: 10px 20px;
        font-size: 24px;
        cursor: pointer;
    }

    #timetaken {
        position: absolute;
        top: 60%;
        left: 65%;
        font-family: sans-serif;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        font-weight: bold;
        transform: translate(-50%, -50%);
        margin: 20px auto; /* Adjust as needed */
        padding: 10px 20px;
        font-size: 24px;
        cursor: pointer;
    }

    #totalmoves {
        position: absolute;
        top: 60%;
        left: 35%;
        font-family: sans-serif;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        font-weight: bold;
        transform: translate(-50%, -50%);
        margin: 20px auto; /* Adjust as needed */
        padding: 10px 60px;
        font-size: 24px;
        cursor: pointer;
    }
    
    .hidden {
        display: none;
    }

    #uploadButton {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        font-family: sans-serif;
        background-color: #454545;
        color: white;
        border-radius: 4px;
        text-align: center;
        width: 100px; /* or whatever width is appropriate */
        height: 77px; /* or whatever height is appropriate */
        line-height: 1.5; /* Adjust line height if necessary */
    }